#footerHome {
	background-color: #000;
	height: 57px;
	position: absolute;
	bottom: -270px;
	left:0px;
	width: 100%;
	overflow:hidden;
	clear:both;
	filter: alpha(opacity=60);
	opacity:0.6;
	z-index: 10;    
}
#footer {
	background-color: #000;
	height: 57px;
	position: relative;
	bottom: 0px;
	left:0px;
	width: 100%;
	overflow:hidden;
	clear:both;
	filter: alpha(opacity=60);
	opacity:.6;
	z-index: 10;

}
#leftPos {
	float:left;
	margin-left:60px;
	width:400px;
}

#middlePos {
    float:left;
    margin-left:60px;
    width:400px;
    }
    
#rightPos {
	float:left;
	width:200px;
}