#container {
	margin: 0 auto;
	padding-top: 90px;
	overflow: auto;
	background: url('images/bg.jpg'); /*whadddafuck*/
	background-repeat: repeat-y repeat-x; 
}

#history {
	padding-top: 40px;
}

#history .row {
	padding: 0px 0px 20px 20px;
}

#history .row .two {
	width: 7.5%;
}

#history p {
	padding-top: 5px;
}

#userBadgesPrev {
	overflow: hidden;
	padding-bottom: 10px;
}

#userBadgesPrev a {
	display: block;
	float: right;
	margin: 6px 0px 6px 0px;
	padding-right: 6px;
}

#userMayorship {
	overflow: hidden;
	padding-bottom: 30px;
}

#userFriends {
	overflow: hidden;
	padding-bottom: 14px;
}

#userRecs a {
	display: block;
	float: right;
	margin: 6px 0px 6px 0px;
	padding-right: 6px;
}

#userFriends .block-grid.three-up>li {
	margin-left: 2%;
	width: 31.3%;
	margin-bottom: 2%;
}

#stats .wrapper {
	margin-top: 25px;
	padding-top: 17px;
	border-top: 1px solid #eee;
}

#stats .description p {
	font-size: 90%;
	color: #999999;
	margin-left: auto;
	margin-right: auto;
}

#stats .one {
	height: 20px;
}

#top-stats p {
	margin-bottom: 2%;
}

#activity {
	padding-top: 40px;
}

#activity .row {
	padding: 0px 0px 20px 20px;
}

#activity .row .three {
/*	change width here if required for
	recent activity pictures*/
}

#activity p { 
	padding-top: 5px;
}

#check-in-wrapper {
	padding-bottom: 10px;
	padding-top: 5.5%;
}

#check-in-wrapper .button {
	padding-top: 20px;
	padding-bottom: 20px;	
}

#userActivity {
	padding-top: 40px;
}

#userActivity .row {
	padding-top: 20px;
}

#userActivity .row .two {
	width: 11.5%;
}

#userActivity .row .ten p {
	padding-top: 3%;
}
