/*topBar*/

#topbar {
  position: fixed;
  width: 100%;
  height:20px;
  background: #00a5ff;/*#399AFF;*/
  border-bottom: solid 4px #000000;/**#00a5ff;*/
  padding: 15px 20px 13px 20px; }
  

@media handheld, only screen and (max-width: 767px) {
	#topbar { padding: 15px 0px 13px 0px; }
}

#topbar h1, #topbar h2 {
  margin-bottom: 0;
  line-height: 1; }
#topbar h1 {
  color: white;
  font-size: 36px;
  font-size: 2.1rem;
  font-weight: bold;
/*  font-style: italic;*/
  font-family: 'Ubuntu', sans-serif; }
#topbar h1 a { color: #fff; }
  

#topbar strong { display: block; margin: 0; padding: 0; height: 14px; line-height: 14px; position: relative; bottom: 4px; }
#topbar strong a {
  line-height: 14px;
  color: #fff;
  font-weight: 500;
  padding-right: 12px;
}
#topbar strong a.button { padding: 4px 10px; font-weight: bold; }



#topbar .right {
  margin-top:7px;
}

/* Grid BG */
#gridBg .row .columns {
  border-left: dashed 1px #e1e1e1;
  border-right: dashed 1px #e1e1e1;
  height: 645px;
  width: 4.085%; }

